h1, p {
    color: red;
    font-family: 'Josefin Sans', sans-serif;
}


/* font-weight no es lo mismo que tamaño. es el peso, no el tamaño ,
no lleva medidas */
h1 {
    font-weight: 100;
}

/* cuando tienen el mismo peso, elige al ultimo valor */
p {
    color: rgb(71, 255, 117);
    font-weight: 900;
    font-size: 4em;
}